<launch>
    <!-- Launch the node that will drive the Robot -->
    <node name="drive_bot" type="drive_bot" pkg="ball_chaser" output="screen"/>
    <!-- Launch the node that will process the camera images and send commands to drive the Robot -->
    <node name="process_image" type="process_image" pkg="ball_chaser" output="screen"/>
</launch>
